body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto;
}

.message {
    margin-top: 20px;
    padding: 0 10px; /* Add padding to prevent text from touching screen edges */
    font-size: 1.2rem;
    line-height: 1.5;
}

.message .logo-container {
    display: inline-flex;
    align-items: center;
}

.message .logo {
    width: 1.5rem;
    height: auto;
    margin-left: 0.5rem;
}

.message .right-to-repair {
    font-weight: bold;
}

.message .right-to-repair .o-red {
    color: red;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-top: 20px;
}

#container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    font-size: 1rem;
    font-family: monospace;
    white-space: nowrap;
}

.scroll {
    display: flex;
    position: absolute;
    width: 200%; /* Make sure the combined width of both scrolls is twice the container width */
}

.scroll#scroll-one {
    animation: loop 30s linear infinite; /* Adjust duration for desired scrolling speed */
}

.scroll#scroll-two {
    transform: translateX(100%);
    animation: loop 30s linear infinite;
    animation-delay: 15s
