body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto;
}

.message {
    margin-top: 20px;
    padding: 0 10px; /* Add padding to prevent text from touching screen edges */
    font-size: 1.2rem;
    line-height: 1.5;
}

.message .logo-container {
    display: inline-flex;
    align-items: center;
}

.message .logo {
    width: 1.5rem;
    height: auto;
    margin-left: 0.5rem;
}

.message .right-to-repair {
    font-weight: bold;
}

.message .right-to-repair .o-red {
    color: red;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-top: 20px;
}

.banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    font-size: 1rem;
    font-family: monospace;
    white-space: nowrap;
}

.banner-content {
    display: inline-block;
    animation: scroll 60s linear infinite; /* Adjusted duration for more data */
}

.data-item {
    display: inline-block;
    margin-right: 40px;
    text-align: center;
}

.data-text {
    display: block;
    font-weight: bold;
}

.data-value {
    display: block;
    margin-top: 5px;
}

/* Scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .message {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

    .logo {
        max-width: 700px; /* Adjust logo size for smaller screens */
    }

    .banner {
        font-size: 0.8rem;
        padding: 5px 0;
    }

    .data-item {
        margin: 0 10px;
    }
}
